/* Hide the results by default */
body {
    margin: 0 20px;
}

.show-results {
    display: none;
}

h1 {
    color: hsl(202, 55%, 16%);
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 700;
    margin-bottom: 0;
}

a {
    color: hsl(200, 24%, 40%);
}

label {
    color: hsl(200, 24%, 40%);
}

input {
    width: 100%;
    height: 30px;
}

.form-section label {
    display: block;
    margin-bottom: 5px;
}

.form-section {
    margin-bottom: 12px;
}

form {
    margin-top: 12px;
}

/* Puting the radio button and text inline */
.radio-group input[type="radio"],
.radio-group label {
    display: inline-block;
}

.radio-group {
    border: 1px solid hsl(202, 55%, 16%);
}

button {
    background-color: hsl(61, 70%, 52%);
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.empty-results {
    background-color: hsl(202, 55%, 16%);
    color: #fff;
}